registry=https://registry.npmjs.org/
@playbook:registry=https://npm.dnamicro.net
@dna:registry=https://npm.dnamicro.net
@dnaicons:registry=https://npm.dnamicro.net

registry=https://npm.dnamicro.net
//npm.dnamicro.net/:_authToken="v6NtOka/qmw6PVRBuUATKw=="

max_body_size=100mb
prefer-workspace-packages=true
engine-strict=true
git-checks=true
publish-branch=publish